.navbar .yamm-content h3{
  border-bottom:solid 2px #fdb513;
}
.cardcol{
  background-color: #002d75;
  color : #fff;
}
.vcol{
  background-color: #002d75;
  color: #fdb513;
}
.butcol{
  color : #fff;
  background-color: #fdb513;
  font-family: 'Roboto', sans-serif;
}
.headtitle{
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: #fff;
}
hr.nahr{
  border-top: 4px solid #fdb513;
  margin-top: 0px;
  margin-bottom: -20px;
}
.hding{
  font-size: 20px;

}
.navbar .dropdown-menu a:not(.active){
  color:#fff;
}
.robfont{
  font-family: 'Roboto', sans-serif;
}
.zoom {
  padding-right:50px; 
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); 
  z-index: 300;
}

.articlehead {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  color: #002d75;
}
.img-thumbnail{
  padding: .25rem;
    background-color: #fff;
    border: 1px solid #002d75;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.img-teacher{
  width: 275px;
  height: 275px;
  object-fit: cover;
}
.img-trustee{
  width: 150px;
  height: 190px;
  object-fit: cover;
  
}
.fcol{
 text-align: center;
}
.img-gal{
  object-fit: cover;
  width: 200px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 3px solid #002d75;
  
}
